
services:
  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    ports:
      - "3001:3001"
    volumes:
      - ./api_gateway:/app
      - api_gateway_node_modules:/app/node_modules
    environment:
      - PORT=3001
  
  main_server:
    build: ./main_server
    container_name: main_server
    ports:
      - "3002:3002"
    volumes:
      - ./main_server:/app
      - main_server_node_modules:/app/node_modules
    environment:
      - PORT=3002
      - MONGO_URI=mongodb+srv://Recruitwise:groupproject@recruitwise.us4pdz2.mongodb.net/
      - JWT_SECRET=secret
      - EMAIL=warushayohan80@gmail.com
      - EMAIL_PASSWORD=wlasedetnswsefnc
    depends_on:
      - api_gateway

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - client_node_modules:/app/node_modules
    environment:
      - NEXT_PUBLIC_SERVER_URL=http://api_gateway:3001
    depends_on:
      - api_gateway

volumes:
  api_gateway_node_modules:
  main_server_node_modules:
  client_node_modules: